body {
}
#body {
	color:#e0e0e0;
	background-color:black;
	margin:20px;
	padding-left:10px;
}
h1 {
	margin-left:0px;
	border-left:solid 4px blue;
	padding-left:10px;

}
h2 {
	margin-left:0px;
	border-left:solid 4px skyblue;
	padding-left:10px;
}
h3 {
	margin-left:0px;
	border-left:solid 4px peru;
	padding-left:10px;
}
h3.section {
	border-left:solid 0px;
	margin-bottom:0px;
	padding-left:0px;
}
p {
	margin-left:25px;
	padding-left:10px;
}
div.pp {
	margin-left:40px;
}
pre {
	margin-left:20px;
	padding-left:10px;
	background-color:black;
	color:#a0a0a0;
	font-size:15px;
	border: thin solid #707070;
	overflow:auto;
	overflow-x:auto;
}
a:-webkit-any-link {text-decoration:under-line}
a:link {color:white;}
a:hover {color:yellow;}
a:visited {color:#aaaaaa;}

.spanGreen {
	color:limegreen;
}

.spanCaution {
	color:yellow;
}
.spanExplain {
	display:block;
	position:relative;
	top:15px;
}
.spanPermission {
	display:block;
	position:relative;
	top:-20px;
	left:60px;
}
table {
	border:3px double white;
	border-collapse:collapse;
}
tr {
}
th {
	padding:3px;
	border:1px double white;
}
td {
	padding:3px;
	border:1px solid white;
}
